@import "tailwindcss";

@keyframes slideDown {
  0% { opacity: 0; transform: translateY(-60px);}
  100% { opacity: 1; transform: translateY(0);}
}
.animate-slide-down {
  animation: slideDown 0.9s cubic-bezier(.39,.58,.57,1) both;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.animate-fade-in {
  animation: fadeIn 0.9s cubic-bezier(.39,.58,.57,1) both;
}

/* AJOUTE ICI : Apparition très lente */
@keyframes fadeInSlow {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.animate-fade-in-slow {
  animation: fadeInSlow 2.2s cubic-bezier(.39,.58,.57,1) both;
}